<html>
  <body>
    <h2>Game</h2>
    <form method='post' action='/game'>
      <h4>Grid size:</h4>
      <input type='radio' id='3x3' value='3x3' name='size' checked>3x3</input>
      </br>
      </br>
      <input type='submit' value='Start' />
    </form>
  </body>
</html>